*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
body{
    background-color: aquamarine;
    width:100vw;
    height: 100vh;
}
.pag4{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 31px;
}

.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px blue solid;
}
.header .title{
    display: flex;
    align-items: center;
    gap: 11px;
    text-transform: capitalize;
}
.header .title p{
    font-size: xx-large;
    color: blue;
}
.header .title img{
    border-radius: 50%;
}
.header .navbar{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header .navbar ul li{
    list-style: none;
    text-transform: capitalize;
}
.header .navbar ul li a{
    text-decoration: none;
    color: black;
    transition: 1s;
}
.header .navbar ul li a:hover{
    text-decoration: underline;
    color: blue;
    font-size: x-large;
}
@media (max-width:425px){
    .header .navbar{
        display: none;
    }
    .button{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
     .button ul li{
        list-style: none;
    }
     .button ul li a{
        text-decoration: none;
    }
    .button ul li button{
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* 380px */
    }
     .button ul li button a{
        transition: 1s;
        width: 400px;
    }
     .button ul li a button:hover{
        background-color: blue;
        color: white;
    }
}
@media (max-width:375px){
    .header .navbar{
        display: none;
    }
    .button{
        display: flex;
        flex-direction: column;
        width: 100vw;
        /* 200px */
    }
     .button ul li{
        list-style: none;
    }
     .button ul li a{
        text-decoration: none;
    }
    .button ul li button{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* 340px */
    }
     .button ul li button a{
        transition: 1s;
        width: 400px;
    }
     .button ul li a button:hover{
        background-color: blue;
        color: white;
    }
}
@media (max-width:320px){
    .header .navbar{
        display: none;
    }
    .button{
        display: flex;
        flex-direction: column;
        width: 100vw;
        /* 200px */
    }
     .button ul li{
        list-style: none;
    }
     .button ul li a{
        text-decoration: none;
    }
    .button ul li button{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* 290px */
    }
     .button ul li button a{
        transition: 1s;
        width: 400px;
    }
     .button ul li a button:hover{
        background-color: blue;
        color: white;
    }
}
@media (max-width:1500px) and (min-width:601px) {
    .header #icon{
        display: none;
    }
}

.pag4 .img{
    width: 100%;
    height: 100%;
}
.pag4 .title{
    font-size: xx-large;
    font-weight: 900;
    text-align: center;
}
.pag4 .img img{
    width: 100%;
    height: 201px;
}
.pag4 .list{
    width: 100%;
    height: 201px;
}
.pag4 .list table{
    width: 301px;
    text-align: center;
    border: 3px white solid;
}
.pag4 .list table thead{
    font-size: x-large;
}
.pag4 .list table thead tr td{
    border-bottom: 3px white solid;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: blue;
}
.footer .call{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px;
}
.footer .call img{
    border-radius: 50%;
}
.footer .call a{
    text-decoration: none;
    color: white;
    font-size: x-large;
    text-transform: capitalize;
}
.footer .nashr{
    color: white;
    font-size: x-large;
}